<h2><?= __('profile') ?></h2>
<form action="/profile/update" method="post">
    <label for="username"><?= __('username') ?></label>
    <input type="text" id="username" value="<?= user.name ?>" />
    <label for="email"><?= __('email') ?></label>
    <input type="text" id="email" value="<?= user.email ?>" />
    <p class="msg warn"><?= __('addEmailClarification') ?></p>
    <input type="submit" value="<?= __('save') ?>" class="green" />
</form>