<h2><?= __('requestData') ?></h2>

<p class="msg warn">This is not supported as of now please consider sending us an email to ask for a report of your personal data</p>

<a href="mailto:mert@dalbudak.de">Mail us</a>