<h2><?= __('security') ?></h2>
<form action="/profile/security/updatePassword" method="post">
    <?- csrf(form_security.csrf) ?>
    <h3><?= __('changePassword') ?></h2>
    <div>
        <label for="password"><?= __('currentPassword') ?></label>
        <input id="password" type="password" name="password" autocomplete="off" />
        <label for="new_password"><?= __('newPassword') ?></label>
        <input id="new_password" type="password" name="new_password" autocomplete="off" />
        <label for="password_repeat"><?= __('passwordRepeat') ?></label>
        <input id="password_repeat" type="password" name="password_repeat" autocomplete="off" />
    </div>
    <button type="submit" id="changePasswordButton" class="green disabled"><?= __('save') ?></button>
</form>
<form action="/profile/security/update" method="post">
    <?- csrf(form_security.csrf) ?>
    <h3><?= __('securitySettings') ?></h2>
    <div>
        <label for="login"><?= __('loginMethod') ?></label>
        <select id="login" name="login_method">
            <option value="username"<?- user.login_method == "username" ? ' selected' : '' ?>><?= __('username') ?></option>
            <option value="email"<?- user.login_method == "email" ? ' selected' : '' ?><?- user.email ? '' : ' disabled="disabled"' ?>><?= __('email') ?></option>
        </select>
        <p class="sidenote"><?= __('loginMethodSuggestion') ?></p>
    </div>
    <button type="submit" class="green"><?= __('save') ?></button>
</form>