* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    -webkit-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
}

body {
    background-color: #222;
    background-image: url('/image/bg-dark.png');
    background-repeat: repeat;
    color: #333;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #EEE; 
}
 
::-webkit-scrollbar-thumb {
    background-color: #DFDFDF; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #C7C7C7; 
}

a {
    color: #00AA00;
}

a:active {
    color: #d8761a;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}

label {
    display: block;
    margin: 3px 0;
    font-size: 11px;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="date"], input[type="button"], input[type="submit"], input[type="range"], textarea, select {
    margin-bottom: 3px;
    padding: 8px 15px;
    font-size: 15px;
    transition: box-shadow .25s;
    background-color: rgb(251, 252, 253);
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #3498db !important;
    box-shadow: inset 0 1px 2px rgba(27,27,27,.075), 0 0 0 3px rgb(51, 151, 219, .325);
    transition: box-shadow .1s;
    background-color: #FFF;
}

button, input[type=button], input[type=submit] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    outline: none;
    padding: 8px 15px;
    font-size: 15px;
    box-sizing: border-box;
    box-shadow: none;
    transition: box-shadow .25s;
}

button {
    background-color: #DCDCDC;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .1);
}

button.white{
    background-color: #FFF;
}

button.red{
    background-color: #f46f67;
    color: #000;
}

button.green{
    background-color: #4fb979;
    color: #FFF;
}

button:focus {
    outline: none;
    background-color: #00AA00;
    color: #FFF !important;
}

textarea {
    resize: vertical;
    min-height: fit-content;
    min-height: 60px;
    max-height: 180px;
}

._select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.crisp_edge {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.disabled{
    pointer-events: none;
}

.container {
    width: 980px;
    max-width: -webkit-fill-available;
    margin: auto;
    overflow-x: hidden;
}

.section {
    width: 100%;
    display: block;
    margin: 20px auto;
    overflow-x: hidden;
}

@media only screen and (max-width: 980px) {
    .container {
        width: 100% !important;
        padding: 0 15px;
    }
    #main .container{
        padding: 15px !important;
    }
    #header-nav li {
        display: none !important;
    }
    #header-nav li.mobile-menu-btn, #header-nav li.menu-btn {
        display: inline-block !important;
    }
    body.menu-active  {
        overflow: hidden;
    }
    div#menu {
        width: 100vw !important;
        height: calc(100% - 80px) !important;
        max-height: unset !important;
        display: block;
        position: fixed !important;
        bottom: calc(80px - 100%);
        transition: bottom .5s !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    body.menu-active #menu {
        bottom: 0;
        box-shadow: 0 0 80px #000;
        transition: bottom .5s !important;
    }
    #menu > h3 {
        display: block !important;
    }
    #menu ul {
        flex-direction: column !important;
    }
    #menu ul li {
        padding: 10px 0 !important;
        display: block !important;
        border-bottom: 1px solid #EAEAEA;
    }
    #menu ul li:first-child {
        border-top: 1px solid #EAEAEA;
    }
    #menu ul li > * {
        width: 100%;
        display: block !important;
    }
    table.data_table {
        width: 100% !important;
        padding: 5px 8px !important;
    }
}

.hidden {
    display: none !important;
}

.btn {
    padding: 0px 10px;
    line-height: 30px;
    color: #FFF;
    background-color: #333;
    border-top: 2px solid #444;
    border-right: 2px solid #444;
    border-bottom: 2px solid #222;
    border-left: 2px solid #222;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: color .15s ease-out;
}

.btn:hover{
    background-color: #444;
    border-top: 2px solid #555;
    border-right: 2px solid #555;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    color: #d8761a;
    text-shadow: 1px 1px 0 #5f340c;
    cursor: pointer;
    transition: color .15s ease-in;
}

.btn:focus {
    border-top: 2px solid #505050;
    border-right: 2px solid #505050;
    border-bottom: 2px solid #404040;
    border-left: 2px solid #404040;
    background-color: #444;
    color: #d8761a !important;
    text-shadow: none !important;
}

#popup_container {
    margin: 0;
    padding: 0;
}

/******* ANIMATION *******/

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100% {
        opacity: 0;
        display: none !important;
        height: 0;
        width: 0;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden !important;
        visibility: hidden !important;
    }
}

.fade-out{
    pointer-events: none;
    animation: fade-out .35s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in{
    display: block;
    animation: fade-out .35s forwards;
}

/******* ANIMATION *******/

/******* FUSE *******/

.fuse-container {
    width: 100%;
    height: 4px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
}

.fuse {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

@keyframes fuse-ignition {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.fuse.ignite {
    animation: fuse-ignition 4s linear .5s 1 normal forwards;
}

/******* FUSE *******/

/******* MESSAGES *******/

div#msg_pseudo {
    position: relative;
}

ul#msg_container {
    width: 100%;
    height: 20px;
    top: 0;
    position: fixed;
    z-index: 102;
}

ul#msg_container li.msg {
    width: 80%;
    max-width: 980px;
    top: 35px;
    margin: 10px auto;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 101;
    text-shadow: none;
    font-size: 14px;
    border-radius: 10px;
}

ul#msg_container li.msg:hover .fuse.ignite {
    animation-play-state: paused;
}

li.msg.msg_error {
    background: #f46f67;
}

li.msg.msg_warn {
    background: #f5db82;
}

li.msg.msg_success {
    background: #4fb979;
}

ul#msg_container li.msg div.container {
    display: table;
}

ul#msg_container li.msg div.container > div {
    display: table-cell;
    vertical-align: middle;
}

ul#msg_container li.msg div.msg_symbol {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px auto;
}

ul#msg_container li.msg_warn div.msg_symbol {
    
}

ul#msg_container li.msg_error div.msg_symbol {
    
}

ul#msg_container li.msg_success div.msg_symbol {
    
}

ul#msg_container li.msg div.msg_content {
    width: 100%;
    font-weight: 500;
    color: #3E3E3E !important;
    padding: 8px;
}

ul#msg_container li.msg div.msg_content h3.msg_subject {
    line-height: 30px;
}

ul#msg_container li.msg div.msg_content div.msg_text {
    color: #666;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
}

ul#msg_container li.msg div.msg_close {
    padding: 0 15px 0 10px;
}

ul#msg_container li.msg div.msg_close button {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    background-image: url('/image/symbol/cross_white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px auto;
    border: 0;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@media (max-width: 640px) {
    ul#msg_container li.msg {
        width: calc(100% - 32px);
    }
}


/******* MESSAGES *******/


/******* STATIC MESSAGES *******/

div.msg {
    padding: 8px;
    margin: 10px auto;
    display: block;
    position: relative;
    border-radius: 10px;
}

div.msg:nth-child(1){
    margin-top: 0 !important;
}

div.msg.error {
    background: #f46f67;
}

div.msg.warn {
    background: #f5db82;
}

div.msg.success {
    background: #4fb979;
}

div.msg span{
    color: #666;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
}

/******* STATIC MESSAGES *******/

/******* HEADER *******/

#header {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 170, 0, 0.5);
    position: relative;
    border-bottom: 4px solid #21561a;
    box-shadow: 0 0 30px #000;
}

#header > .container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#header > .container > * {
    vertical-align: middle;
    display: inline-flex;
    z-index: 3;
    text-decoration: none;
}

#header > .container img {
    display: block;
}

#logo {
    width: 48px;
    height: 48px;
    background-image: url(/image/logo96x96.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .1s border ease-out;
    color: transparent !important;
}

#title {
    color: #FFF;
    text-shadow: rgb(0 0 0 / 35%) 2px 2px 2px;
    height: 28px;
    line-height: 28px;
    margin: 10px 12px;
    padding-left: 12px;
    border-left: 2px solid rgba(255, 255, 255, 0.85);
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 100;
    white-space: nowrap;
}

#header-place {
    width: 100%;
}

#header-nav {
    list-style-type: none;
}

#header-nav li {
    margin: 5px;
}

#header-nav li.mobile-menu-btn {
    display: none;
}

#header-nav li:first-child {
    margin-left: 0;
}

#header-nav li:last-child {
    margin-right: 0;
}

.burger-btn {
    display: inline-block;
}

#menu {
    width: 100vw;
    max-height: 0;
    height: auto;
    display: none;
    position: relative;
    background-color: #FFF;
    z-index: 2;
    overflow: hidden;
    transition: max-height .35s ease-out;
}

body.menu-active #menu {
    max-height: 108px;
    transition: max-height .35s ease-in;
}

#menu > h3 {
    padding: 15px 0;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
    display: none;
}

#menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

#menu ul li {
    padding-top: 10px;
    display: inline-block;
}

#menu ul li:first-child {
    padding-left: 0;
}

#menu ul li:last-child {
    padding-right: 0;
}

#menu ul li > * {
    display: inline-block;
    text-align: center;
}

#main {
    position: relative;
    min-height: calc(100vh - 60px);
}

#content {
    margin: 20px 0;
}

#content .container{
    padding: 20px;
    background-color: #FFF;
}

/******* HEADER *******/

/******* DATA TABLES *******/

table.data_table {
    min-width: 50%;
    width: max-content;
    max-width: 100%;
    border: 5px solid #EAEAEA;
    padding: 10px 15px;
}

table.data_table td {
    line-height: 30px;
    vertical-align: top;
}

table.data_table tr td:first-child {
    width: 35%;
    padding-left: 0;
    font-weight: 600;
}

table.data_table tr td:last-child {
    width: 65%;
    padding-right: 0;
}

/******* DATA TABLES *******/

.offline_symbol, .online_symbol {
    height: 15px;
    display: inline-block;
    font-style: normal;
}

.offline_symbol:before, .online_symbol:before {
    content: "\25CF";
    font-size: 25px;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    vertical-align: text-top;
}

.offline_symbol {
    color: red;
}

.online_symbol {
    color: #00AA00;
    animation: blinker 1.125s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

/* CODE OF CONDUCT */

#code-of-conduct-list > li {
    list-style-type: none;
}

.code-of-conduct-server-type {
    padding: 5px 20px;
}

.code-of-conduct-rule_list {
    padding: 10px 20px;
}

.code-of-conduct-rule_list li {
    padding: 5px 0;
    list-style-type: square;
}
/* CODE OF CONDUCT */

/* SERVER AND SLOT */

#slot-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#slot-list > li {
    width: calc(50% - 10px);
    list-style-type: none;
    border: 5px solid #EEE;
    border-radius: 8px;
    margin: 10px 10px 10px 0;
    position: relative;
}

#slot-list > li:nth-child(2) {
    margin: 10px 0 10px 10px !important;
}

#slot-list > li.online {
    border-color: #4fb979;
}

#slot-list > li table {
    width: 100%;
    border: none;
    overflow: hidden;
}

#slot-list > li div {
    min-height: fit-content;
    margin: calc(160px / 2) auto;
    line-height: 30px;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    #slot-list > li {
        width: 100%;
        margin: 10px 0 10px 0 !important;
    }
    #slot-list > li:nth-child(2) {
        margin: 10px 0 10px 0 !important;
    }
    #slot-list > li div {
        margin: calc(120px / 2) auto;
    }
}

/* SERVER AND SLOT */

/* PILLBOX */

ul.pillbox.absolute {
    position: absolute;
    top: 15px;
    right: 15px;
}

ul.pillbox > li {
    list-style-type: none;
    display: inline-block;
    line-height: 20px;
    margin: 0 3px;
    padding: 5px 15px;
    border-radius: 5px;
    letter-spacing: 1.1px;
    font-weight: 500;
    text-align: center;
    border-color: transparent;
}

ul.pillbox > li:nth-child(1) {
    margin: 0 3px 0 0;
}

ul.pillbox > li:last-child {
    margin: 0 0 0 3px;
}

ul.pillbox.vertical > li {
    display: list-item;
    margin: 5px 0;
}

ul.pillbox.vertical > li:nth-child(1) {
    margin: 0 0 5px 0;
}

ul.pillbox.vertical > li:last-child {
    margin: 5px 0 0 0;
}

ul.pillbox > li.pill-java{
    background-color: #de463b;
    color: #FFF;
}

ul.pillbox > li.pill-bedrock{
    background: #464646;
    color: #FFF;
}

ul.pillbox > li.pill-paper{
    background-color: #e8e6e3;
    color: #1e2021;
}

/* PILLBOX */

.addToClipboard {
    margin: 0 5px;
    text-decoration: none;
}

.addToClipboard::before {
    content: "\2197";
    padding: 0 5px;
    font-size: 1.1em;
    font-weight: 700;
    color: #999;
    border: 1px solid transparent;
    border-radius: 3px;
    vertical-align: top;
}

.addToClipboard:hover::before {
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, .05);
}

.motd {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/image/dirt.webp);
    background-size: auto 100%;
    letter-spacing: .1em;
    padding: 0 10px;
    display: inline-block;
}

#footer {
    padding: 4px 0;
    position: relative;
    background-color: #000;
    color: #999;
}

#footer > * {
    padding: 4px 0;
    line-height: 18px;
}

#footer > p {
    width: fit-content;
    margin: auto;
}

#footer ul {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
    align-items: center;
}

#footer ul li {
    list-style-type: none;
    padding: 0 5px;
}

#footer span.git_head {
    max-width: 65px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}