#menu {
    display: block !important;
}


#invitations{
    display: flex;
    flex-direction: column;
}

#invitations li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}