<div class="container">
    <h1><?= __('Code of Conduct') ?></h1>
    <ul id="code-of-conduct-list">
        <li>
            <h2><?= __('Survival') ?> - <?= __('Standard') ?></h2>
            <div class="code-of-conduct-server-type">
                <h3><?= __('Rules') ?></h3>
                <ul class="code-of-conduct-rule_list _select">
                    <li>Sei respektvoll und ethisch gegenüber deinen Mitspielern.</li>
                    <li>Kein Griefing, Vandalismus, Exploiting, Hacking oder unfaire Mods (X-Ray etc.)</li>
                    <li>Respektiere den Fortschritt und Eigentum anderer Spieler.</li>
                    <li>Führe keine mutwilligen Aktionen durch, die die Serverintegrität gefährden.</li>
                    <li>Spamming oder Werbung ist strengstens untersagt.</li>
                    <li>Bitte die Administratoren nicht, dir Gegenstände zu geben oder den Spielstatus zu ändern (Zeit, Schwierigkeit usw.).</li>
                    <li>Das Verkörpern, Symbolisieren oder Verherlichen von rassistischen bzw. menschenverachtenden Symbolen, ist strengst unterasagt.</li>
                    <li>Das Betreten eines Grundstücks, Haus oder Gebiet, dass zuvor von einem anderen Spieler beansprucht wurde, ist ohne eine Erlaubnis zu unterlassen.</li>
                    <li>Das offensichtliche Zu bzw. Umbauen eines Grundstücks, Haus oder Gebietes, dass von anderen Spielern beanspruchten wurde, ist untersagt.</li>
                    <li>Bei Neubauten auf nicht beanspruchten Gebieten, darf das Interesse der Gemeinschaft nicht verletzt oder gestört werden.</li>
                </ul>
                <h3><?= __('Also worth reading...') ?></h3>
                <ul class="code-of-conduct-rule_list _select">
                    <li>Obwohl PVP legal ist, sind wiederholte feige und billige Taktiken höchst verpönt.</li>
                    <li>Ein beanspruchtes Grundstück besteht i.d.R. aus einem bzw. mehreren Häusern + Garten + Umzäunung bzw. Mauern.</li>
                    <li>Beanspruchte Gebiete dürfen nicht größer als 100x100 Blöcke sein und dürfen weder NPC noch Spieler Dörfer eingrenzen.</li>
                </ul>
                <h4>Melde Störenfriede dem Serveradministrator. Entsprechende Massnahmen werden anschließend unternommen.</h4>
            </div>
        </li>
        <li>
            <h2><?= __('Survival') ?> - <?= __('Anarchy') ?></h2>
            <div class="code-of-conduct-server-type">
                <h3><?= __('Rules') ?></h3>
                <ul class="code-of-conduct-rule_list _select">
                    <li>Es gibt keine Regeln</li>
                </ul>
                <h4>Sei dir bewusst worauf du dich einlässt.</h4>
            </div>
        </li>
        <li>
            <h2><?= __('Creative') ?> - <?= __('Standard') ?></h2>
            <div class="code-of-conduct-server-type">
                <h3><?= __('Rules') ?></h3>
                <ul class="code-of-conduct-rule_list _select">
                    <li>Das Zerstören eines Grundstücks, Haus, Gebiet oder Eigentum anderer Spieler ist nicht erlaubt.</li>
                    <li>Beanspruchte Gebiete dürfen nicht größer als 250x250 Blöcke sein.</li>
                    <li>Das offensichtliche Zu bzw. Umbauen eines Grundstücks, Haus oder Gebietes, dass von anderen Spielern beanspruchten wurde, ist untersagt.</li>
                    <li>Das Verkörpern, Symbolisieren oder Verherlichen von rassistischen bzw menschenverachtenden Symbolen, ist strengst unterasagt.</li>
                </ul>
            </div>
        </li>
        <li>
            <h2><?= __('Adventure') ?> - <?= __('Standard') ?></h2>
            <div class="code-of-conduct-server-type">
                <h3><?= __('Rules') ?></h3>
                <ul class="code-of-conduct-rule_list _select">
                    <li>Das Töten anderer Spieler ist grundsätzlich nicht illegal. So lange es kein Greefing ist.</li>
                    <li>Greefing in jeder Form ist nicht erlaubt. Sei immer sachlich und respektvoll zu anderen Spieler. Kompromisse eingehen statt Konflikte zu schaffen.</li>
                    <li>Das Verkörpern, Symbolisieren oder Verherlichen von rassistischen bzw menschenverachtenden Symbolen, ist strengst unterasagt.</li>
                </ul>
                <h4>Melde Störenfriede dem Serveradministrator. Entsprechende Massnahmen werden anschließend unternommen.</h4>
            </div>
        </li>
    </ul>
</div>