<style>
    h2 {
        margin-top: 20px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
</style>
<div class="container">
    <h1><?= __('frequentlyAskedQuestions') ?></h1>

    <h2>Why can't I start a server?</h2>
    <p>
        A server must run on a slot. If there are no acitve slots you may not be able to start the server.
        Even if a slot is active it doesn't necessarily mean that the slot has access to the server directory.
    </p>
    <p>Ask your administrator whether they can spin up a slot that has access to the directory of the server.</p>
</div>