<div id="header_banner" class="container crisp_edge">
    <h1>MC Server Manager</h1>
</div>
<div class="container">
    <? if(user) {?>
    <h2><?= greet(user.name)?> </h2>
        <? if(data.server_data != null){ ?>
            <? if(Array.isArray(data.server_data.samplePlayers) && data.server_data.samplePlayers.find(player => player.name == user.name)) { ?>
    <span>Du bist gerade mit dem aktuellen Server verbunden. Spiele <b>fair</b> und sei <b>kein Spielverderber</b>.</span>
            <? } else { ?>
    <span>Du bist im Moment mit keinem Server verbunden</span>
            <? } ?>
        <? } else { ?>
    <span>Aktuell ist kein Minecraft Server online. Wenn du Lust hast zu spielen, starte einfach unter <b>Meine Server</b> ein Server hoch.</span>
        <? } ?>
    <? } ?>
    <?- //debug(data.server_data) ?>
    <table cellpadding="0" cellspacing="0" class="data_table">
        <thead>
        </thead>
        <tbody>
            <? if(data.server_data != null){ ?>
            <tr>
                <td colspan="2">
                    <img src="<?= data.server_data.favicon ?>" alt="Server Image" height="64" width="64" class="crisp_edge" />
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td><i class="online_symbol"></i>Online</td>
            </tr>
            <tr>
                <td>Host</td>
                <td><?= data.server_data.host ?>:<?= data.server_data.port == 25565 ? 25565 + " (Standard Port)" : data.server_data.port ?></td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td><?= data.server_data.descriptionText ?></td>
            </tr>
            <tr>
                <td>Version</td>
                <td><?= data.server_data.version ?></td>
            </tr>
            <tr>
                <td>Spieler</td>
                <td><?= data.server_data.onlinePlayers ?> / <?= data.server_data.maxPlayers ?></td>
            </tr>
            <? } else { ?>
            <tr>
                <td>Status</td>
                <td><i class="offline_symbol"></i>Offline</td>
            </tr>
            <? } ?>
        </tbody>
    </table>
</div>