<div id="header_banner" class="container crisp_edge">
    <h1>MC Server Manager</h1>
    <? if(!user) {?>
    <div id="signUp_banner">
        <img src="/image/zombie3.webp" height="160" alt="Minecraft bee" />
        <h3>Noch kein Konto?</h3>
        <button class="btn" onclick="register_form.show()"><?= __('signUp') ?></button>
        <h4><?= __('signUp_haveAnAccount') ?></h4>
        <button class="btn" onclick="login_form.show()"><?= __('signIn') ?></button>
    </div>
    <? } ?>
</div>
<div class="container">
    <? if(user) {?>
    <h2><?= greet(user.name)?> </h2>
        <? if(data.slots != null){ ?>
        <? let current_server = data.slots.find(slot => slot.server && slot.server.players.sample != null && slot.server.players.sample.find(player => player.name == user.name)); ?>
            <? if(current_server) { ?>
    <span>Du hast dich mit dem Server <b><?= current_server.server.motd.clean ?></b> verbunden. Spiele <b>fair</b> und sei <b>kein Spielverderber</b>.</span>
            <? } else { ?>
    <span>Du bist im Moment mit keinem Server verbunden</span>
            <? } ?>
        <? } else { ?>
    <span>Aktuell ist kein Minecraft Server online. Wenn du Lust hast zu spielen, starte einfach unter <b>Meine Server</b> ein Server hoch.</span>
        <? } ?>
    <? } ?>
    <?- //debug(data.slots) ?>
    <? if(data.slots.length > 0){ ?>
    <?- include('../layout/slots.ejs') ?>
    <? } else { ?>
    <h2><?= __('slots_not_available') ?></h2>
    <? } ?>
    <p><?- __('home_read_coc') ?></p>
</div>