<div id="header_banner" class="container crisp_edge">
    <h1>MC Server Manager</h1>
</div>
<div class="container">
    <? if(user) {?>
    <h2><?= greet(user.name)?> </h2>
        <? if(data.slots != null){ ?>
        <? let current_server = data.slots.find(slot => slot.server && slot.server.players.sample != null && slot.server.players.sample.find(player => player.name == user.name)); ?>
            <? if(current_server) { ?>
    <span>Du hast dich dem Server <b><?= current_server.server.motd.clean ?></b> verbunden. Spiele <b>fair</b> und sei <b>kein Spielverderber</b>.</span>
            <? } else { ?>
    <span>Du bist im Moment mit keinem Server verbunden</span>
            <? } ?>
        <? } else { ?>
    <span>Aktuell ist kein Minecraft Server online. Wenn du Lust hast zu spielen, starte einfach unter <b>Meine Server</b> ein Server hoch.</span>
        <? } ?>
    <? } ?>
    <?- //debug(data.server_data) ?>
    <ul id="slot-list">
        <? for(var i = 0; i < data.slots.length; i++){ ?>
            <? if(data.slots[i].server) { ?>
            <? let server = data.slots[i].server; ?>
            <? let favicon = server.favicon || "/image/logo96x96.png"; ?>
            <li class="online">
                <table cellpadding="0" cellspacing="0" class="data_table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <img src="<?= favicon ?>" alt="Server Image" height="64" width="64" class="crisp_edge" />
                            </td>
                        </tr>
                        <tr>
                            <td><?= __('Status') ?></td>
                            <td><i class="online_symbol"></i>Online</td>
                        </tr>
                        <tr>
                            <td><?= __('Hostname') ?></td>
                            <td class="_select"><?= data.slots[i].host ?></td>
                        </tr>
                        <tr>
                            <td><?= __('MOTD') ?></td>
                            <td class="_select"><?= server.motd.clean ?></td>
                        </tr>
                        <tr>
                            <td><?= __('Version') ?></td>
                            <td class="_select"><?= server.version.name ?></td>
                        </tr>
                        <tr>
                            <td><?= __('Players') ?></td>
                            <td class="_select"><?= server.players.online ?> / <?= server.players.max ?></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <? } else { ?>
            <li class="offline">
                <div>
                    <h3><?= data.slots[i].host ?></h3>
                    <h4><i class="offline_symbol"></i>Offline</h4>
                </div>
            </li>
            <? } ?>
        <? } ?>
    </ul>
    Bitte lies dir den <a href="/code-of-conduct">Verhaltenskodex</a> durch, falls du es bisher nicht getan hast.
</div>