<div class="container">
    <h1><?= __('My Servers') ?></h1>
    <div id="server-list-container">
        <ul id="server-list">
            <? for(var i = 0; i < user.assigned_servers.length; i++){ ?>
                <? let slot = data.slots.find(e => e.server != null && e.server.id == user.assigned_servers[i].id) ?>
                <li class="<?= slot ? ' online' : ' offline' ?>">
                    <table cellpadding="0" cellspacing="0" class="data_table">
                        <thead>
                        </thead>
                        <tbody>
                            <? if(slot) { ?>
                            <? let favicon = slot.server.favicon || "/image/logo96x96.png"; ?>
                            <tr>
                                <td colspan="2">
                                    <img src="<?= favicon ?>" alt="Server Image" height="64" width="64" class="crisp_edge" />
                                </td>
                            </tr>
                            <tr>
                                <td><?= __('status') ?></td>
                                <td><i class="online_symbol"></i>Online</td>
                            </tr>
                            <tr>
                                <td><?= __('hostname') ?></td>
                                <td class="_select"><span><?= slot.domain ?></span><?- addToClipboard(slot.domain) ?></td>
                            </tr>
                            <tr>
                                <td><?= __('MOTD') ?></td>
                                <td class="_select"><span class="motd"><?- slot.server.motd.html ?></span></td>
                            </tr>
                            <tr>
                                <td><?= __('version') ?></td>
                                <td class="_select"><?= slot.server.version.name ?></td>
                            </tr>
                            <tr>
                                <td><?= __('players') ?></td>
                                <td class="_select"><?= slot.server.players.online ?> / <?= slot.server.players.max ?></td>
                            </tr>
                            <tr>
                                <td>    
                                    <button class="white" onclick="restartServer(<?= slot.uid ?>, <?= slot.server.id ?>)"><?= __('Restart') ?></button>
                                </td>
                                <td>
                                    <button class="red" onclick="stopServer(<?= slot.uid ?>)"><?= __('Stop') ?></button>
                                </td>
                            </tr>
                            <? } else { ?>
                            <? let slot = data.slots.find(e => e.server == null && e.available_servers.find(server => server.id == user.assigned_servers[i].id)) ?>
                            <tr>
                                <td colspan="2">
                                    <img src="/image/symbol/disconnected.svg" alt="Server Image" height="64" width="64" class="crisp_edge" />
                                </td>
                            </tr>
                            <tr>
                                <td><?= __('status') ?></td>
                                <td><i class="offline_symbol"></i>Offline</td>
                            </tr>
                            <tr>
                                <td><?= __('MOTD') ?></td>
                                <td class="_select"><?= user.assigned_servers[i].server.name ?></td>
                            </tr>
                            <tr>
                                <? if(slot) {?>
                                <td>
                                    <button onclick="startServer(<?= slot.uid ?>, <?= user.assigned_servers[i].server.id ?>)"><?= __('Start') ?></button>
                                </td>
                                <? } ?>
                                <td>
                                    <button><?= __('Edit') ?></button>
                                </td>
                            </tr>
                            <? } ?>
                        </tbody>
                    </table>
                </li>
            <? } ?>
        </ul>
    </div>
    <h2>Server Slots</h2>
    <? if(data.slots.length > 0){ ?>
        <?- include('../layout/slots.ejs') ?>
    <? } else { ?>
    <h2>No slots data available</h2>
    <? } ?>
</div>