<div class="container">
    <h1><?= __('My Servers') ?></h1>
    <div id="server-list-container">
        <ul id="server-list">
            <? for(var i = 0; i < user.assigned_server.length; i++){ ?>
                <li>
                    <table cellpadding="0" cellspacing="0" class="data_table">
                        <thead>
                        </thead>
                        <tbody>
                            <? if(data.server_data != null && data.server_data.descriptionText == user.assigned_server[i].name) { ?>
                            <tr>
                                <td colspan="2">
                                    <img src="<?= data.server_data.favicon ?>" alt="Server Image" height="64" width="64" class="crisp_edge" />
                                </td>
                            </tr>
                            <tr>
                                <td><?= __('Status') ?></td>
                                <td><i class="online_symbol"></i>Online</td>
                            </tr>
                            <tr>
                                <td><?= __('Description') ?></td>
                                <td><?= data.server_data.descriptionText ?></td>
                            </tr>
                            <tr>
                                <td><?= __('Version') ?></td>
                                <td><?= data.server_data.version ?></td>
                            </tr>
                            <tr>
                                <td><?= __('Players') ?></td>
                                <td><?= data.server_data.onlinePlayers ?> / <?= data.server_data.maxPlayers ?></td>
                            </tr>
                            <tr>
                                <td>
                                    <button><?= __('Restart') ?></button>
                                </td>
                                <td>
                                    <button onclick="stopServer(<?= user.assigned_server[i].id ?>)"><?= __('Stop') ?></button>
                                </td>
                            </tr>
                            <? } else { ?>
                            <tr>
                                <td><?= __('Description') ?></td>
                                <td><?= user.assigned_server[i].name ?></td>
                            </tr>
                            <tr>
                                <td><?= __('Status') ?></td>
                                <td><i class="offline_symbol"></i>Offline</td>
                            </tr>
                            <tr>
                                <td>
                                    <button onclick="startServer(<?= user.assigned_server[i].id ?>)"><?= __('Start') ?></button>
                                </td>
                                <td>
                                    <button><?= __('Edit') ?></button>
                                </td>
                            </tr>
                            <? } ?>
                        </tbody>
                    </table>
                </li>
            <? } ?>
        </ul>
    </div>
</div>