<style>
    h2 {
        margin-top: 20px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
</style>
<div class="container _select">
    <h1>Datenschutzerklärung</h1>
    
    <p>Diese Datenschutzerklärung beschreibt, wie <strong>Minecraft Server Manager</strong> personenbezogene Daten erhebt, verwendet und schützt, wenn Sie unsere Website besuchen und die Funktionen für den simplen Login nutzen.</p>

    <h2>1. Verantwortliche Stelle</h2>
    <p>Verantwortliche Stelle im Sinne der Datenschutz-Grundverordnung (DSGVO):</p>
    <address>
        Mert Dalbudak<br>
        Email: <a href="mailto:mert@dalbudak.de">mert@dalbudak.de</a><br>
        Webseite: <a href="https://dalbudak.de">dalbudak.de</a>
    </address>

    <h2>2. Welche Daten wir erheben</h2>
    <p>Wenn Sie unsere Website besuchen und die Login-Funktion nutzen, können wir die folgenden personenbezogenen Daten erheben:</p>
    <ul>
        <li>Mojang Account Name</li>
        <li>Passwort (verschlüsselt)</li>
        <li>IP-Adresse</li>
        <li>Datum und Uhrzeit des Logins</li>
    </ul>

    <h2>3. Wie wir Ihre Daten nutzen</h2>
    <p>Wir nutzen Ihre personenbezogenen Daten nur für folgende Zwecke:</p>
    <ul>
        <li>Zur Authentifizierung und Autorisierung Ihres Zugangs zu unserem Dienst.</li>
        <li>Zur Sicherstellung der Integrität und Sicherheit unseres Dienstes.</li>
        <li>Zur Kommunikation mit Ihnen im Zusammenhang mit Ihrem Konto und Serviceankündigungen.</li>
    </ul>

    <h2>4. Rechtsgrundlage für die Verarbeitung</h2>
    <p>Die Verarbeitung Ihrer Daten erfolgt auf der Grundlage der DSGVO, insbesondere Artikel 6 Absatz 1 Buchstabe b (Vertragserfüllung) und Artikel 6 Absatz 1 Buchstabe f (berechtigtes Interesse), da wir ein berechtigtes Interesse daran haben, unsere Dienste sicher und funktionsfähig zu halten.</p>

    <h2>5. Weitergabe von Daten</h2>
    <p>Wir geben Ihre Daten nur dann weiter, wenn dies gesetzlich vorgeschrieben ist oder wenn dies zur Erfüllung des Vertragszwecks notwendig ist. In einigen Fällen können wir Dienstleister oder Dritte beauftragen, um technische Unterstützung oder andere Dienstleistungen bereitzustellen. In solchen Fällen stellen wir sicher, dass angemessene Datenschutzmaßnahmen getroffen werden.</p>

    <h2>6. Speicherdauer</h2>
    <p>Wir speichern Ihre Daten nur so lange, wie es zur Erfüllung der oben genannten Zwecke erforderlich ist oder wie es gesetzlich vorgeschrieben ist.</p>

    <h2>7. Ihre Rechte</h2>
    <p>Sie haben das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit und Widerspruch bezüglich Ihrer personenbezogenen Daten. Um diese Rechte auszuüben oder Fragen zur Verarbeitung Ihrer Daten zu stellen, kontaktieren Sie uns bitte per <a href="mailto:mert@dalbudak.de">mail</a>.</p>

    <h2>8. Änderungen dieser Datenschutzerklärung</h2>
    <p>Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Bitte überprüfen Sie regelmäßig unsere Datenschutzerklärung, um über Aktualisierungen informiert zu bleiben.</p>

    <h2>9. Beschwerderecht bei der Aufsichtsbehörde</h2>
    <p>Wenn Sie der Ansicht sind, dass wir Ihre Datenschutzrechte verletzt haben, haben Sie das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.</p>

    <p>Datum der letzten Aktualisierung: <?= moment().format('MMMM Do YYYY') ?></p>
</div>