<style>
    h1 {
        margin-bottom: 20px;
    }
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    ul {
        list-style-type: disc;
        margin-left: 20px;
    }
    address {
        font-style: normal;
    }
</style>
<div class="container _select">
    <h1>Privacy Policy</h1>
    
    <p>This privacy policy describes how <strong>Minecraft Server Manager</strong> collects, uses, and protects personal data when you visit our website and utilize the features for a simple login.</p>

    <h2>1. Data Controller</h2>
    <p>The data controller under the General Data Protection Regulation (GDPR) is:</p>
    <address>
        <strong>Minecraft Server Manager</strong><br>
        Mert Dalbudak<br>
        Website: <a href="https://dalbudak.de">dalbudak.de</a><br>
        Email: <a href="mailto:mert@dalbudak.de">mert@dalbudak.de</a>
    </address>

    <h2>2. What Data We Collect</h2>
    <p>When you visit our website and use the login functionality, we may collect the following personal data:</p>
    <ul>
        <li>Mojang Account Name</li>
        <li>Password (encrypted)</li>
        <li>IP Address</li>
        <li>Date and Time of Login</li>
    </ul>

    <h2>3. How We Use Your Data</h2>
    <p>We use your personal data solely for the following purposes:</p>
    <ul>
        <li>To authenticate and authorize your access to our service.</li>
        <li>To ensure the integrity and security of our service.</li>
        <li>To communicate with you regarding your account and service announcements.</li>
    </ul>

    <h2>4. Legal Basis for Processing</h2>
    <p>The processing of your data is based on the GDPR, particularly Article 6(1)(b) (contractual performance) and Article 6(1)(f) (legitimate interest), as we have a legitimate interest in maintaining the security and functionality of our services.</p>

    <h2>5. Data Disclosure</h2>
    <p>We will only disclose your data when required by law or when necessary to fulfill the purpose of the contract. In some cases, we may engage service providers or third parties to provide technical support or other services. In such cases, we ensure appropriate data protection measures are in place.</p>

    <h2>6. Data Retention</h2>
    <p>We will retain your data only as long as necessary to fulfill the purposes mentioned above or as required by law.</p>

    <h2>7. Your Rights</h2>
    <p>You have the right to access, rectify, delete, restrict processing, data portability, and object to the processing of your personal data. To exercise these rights or to ask questions about the processing of your data, please contact us via <a href="mailto:mert@dalbudak.de">mail</a>.</p>

    <h2>8. Changes to this Privacy Policy</h2>
    <p>We reserve the right to change this privacy policy at any time. Please check our privacy policy regularly for updates.</p>

    <h2>9. Complaints to the Supervisory Authority</h2>
    <p>If you believe that we have violated your data protection rights, you have the right to lodge a complaint with the relevant supervisory authority.</p>

    <p>Last Updated: <?= moment().format('MMMM Do YYYY') ?></p>
</div>