<!DOCTYPE html>
<html>
    <head>
        <title>404 | Dalbudak: MC Server Manager</title>
        <?- include('template/meta.ejs') -?>
        <?- include('template/resource.ejs') -?>
    </head>
    <body>
        <ul id="popup_container"></ul>
        <?- include('template/header.ejs', {'user': user}) -?>
        <div id="main">
            <div class="container" style="padding: 75px 0;text-align: center;">
                <img src="/img/creeper.png" />
                <h1 style="margin-top: 20px;">Fehler 404. Seite nicht gefunden</h1>
            </div>
        </div>
    </body>
</html>