<title>Dalbudak: Minecraft Manage Server</title>
<meta charset="utf-8" />
<meta name="autor" content="Mert Dalbudak">
<meta name="apple-mobile-web-app-title" content="Minecraft Server Manager" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="csrf-token" content="<?= form_security.csrf ?>">
<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="/favicon.ico" />

<!-- JS -->
<script src="/js/polyfill.js" defer></script>
<script src="/js/message.js" defer></script>
<script src="/js/PopUpForm.min.js" defer></script>
<script src="/js/fundamental.js" defer></script>
<? if(user) { ?>
<script>
    let user = {'assigned_server': <?- JSON.stringify(user.assigned_server) ?>};
</script>
<script src="/js/user.js" defer></script>
<? } ?>

<!-- JS -->

<!-- CSS -->
<style>
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


</style>
<link rel="stylesheet" href="/css/fundamental.css" type="text/css" />
<link rel="stylesheet" href="/css/PopUpForm.min.css" type="text/css" />
<? if(user) { ?>
<link rel="stylesheet" href="/css/user.css" type="text/css" />
<? } ?>
<!-- CSS -->