<div id="footer">
    <div class="container">
        <ul>
            <li>
                <a href="mailto:mert@dalbudak.de"><?= __('footer_contact_us') ?></a>
            </li>
            <li>
                <a href="/privacy-policy"><?= __('privacy_policy') ?></a>
            </li>
        </ul>
    </div>
    <p>
        <?= __('Powered by') ?>
        <a href="https://github.com/MertDalbudak/mcsw" target="_blank">MertDalbudak/mcsw</a> &#183;
        <span class="git_head"><?= git_head ?></span>
        <span style="color: #00AA00;">❤</span>
    </p>
</div>