<div id="header">
    <div class="container">
        <a href="/">
            <div id="logo" class="crisp_edge"></div>
            <span id="title">Server Manager</span>
        </a>
        <div id="header-place">

        </div>
        <?- include('header_nav.ejs') ?>
    </div>
</div>
<!-- Navigation -->
<?- include('nav.ejs') ?>
<!-- Navigation -->