<div id="menu">
    <h3><?= user != undefined ? "Hallo " + user.name : "Nicht angemeldet" ?></h3>
    <ul class="container">
        <? if(user){ ?>
        <li>
            <a class="btn" href="/profile/my-server"><?= __('myServer') ?></a>
        </li>
        <li>
            <a class="btn" href="/profile/invites"><?= __('myInvites') ?></a>
        </li>
        <li>
            <a class="btn" href="/server/events-rewards"><?= __('eventsRewards') ?></a>
        </li>
        <li>
            <a class="btn" href="/profile/settings"><?= __('settings') ?></a>
        </li>
        <li>
            <a class="btn" href="/faq"><?= __('FAQ') ?></a>
        </li>
        <li>
            <a class="btn" href="/logout"><?= __('signOut') ?></a>
        </li>
        <? } else { ?>
        <li>
            <button class="btn" onclick="register_form.show()"><?= __('signUp') ?></button>
        </li>
        <li>
            <button class="btn" onclick="login_form.show()"><?= __('signIn') ?></button>
        </li>
        <? } ?>
    </ul>
</div>