<div id="header">
    <div class="container">
        <a href="/">
            <div id="logo"></div>
            <span id="title">Server Manager</span>
        </a>
        <div id="header-place">

        </div>
        <ul id="header-nav">
            <? if(user == undefined){ ?>
            <li class="mobile-menu-btn">
                <a class="burger-btn" onclick="document.body.classList.toggle('menu-active')"><img src="/img/menu.svg" height="32"></a>
            </li>
            <li>
                <button class="btn" onclick="register_form.show()">Registrieren</button>
            </li>
            <li>
                <button class="btn" onclick="login_form.show()">Anmelden</button>
            </li>
            <? } else { ?>
                <li class="menu-btn">
                    <a class="burger-btn" onclick="document.body.classList.toggle('menu-active')"><img src="/img/menu.svg" height="32"></a>
                </li>
            <? } ?>
        </ul>
    </div>
</div>
<div id="menu">
    <h3><?= user != undefined ? "Hallo " + user.name : "Nicht angemeldet" ?></h3>
    <ul class="container">
        <? if(user == undefined){ ?>
        <li>
            <button class="btn" onclick="register_form.show()">Registrieren</button>
        </li>
        <li>
            <button class="btn" onclick="login_form.show()">Anmelden</button>
        </li>
        <? } else { ?>
            <li>
                <a class="btn" href="/my-server">Meine Server</a>
            </li>
            <li>
                <button class="btn" onclick="">Einen Freund einladen</button>
            </li>
            <li>
                <a class="btn" href="/settings">Einstellungen</a>
            </li>
            <li>
                <a class="btn" href="/help">Hilfe</a>
            </li>
            <li>
                <a class="btn" href="/logout">Abmelden</a>
            </li>
        <? } ?>
    </ul>
</div>