<div id="header_banner" class="container">
    <h1>MC Server Manager</h1>
</div>
<div class="container">
    <table cellpadding="0" cellspacing="0" class="data_table">
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>Status</td>
                <td><?- server_data != undefined ? "<i class=\"online_symbol\"></i>Online" : "<i class=\"offline_symbol\"></i>Offline" ?></td>
            </tr>
            <? if(server_data != undefined){ ?>
            <tr>
                <td>Host</td>
                <td><?= server_data.host ?>:<?= server_data.port == 25565 ? 25565 + " (Standard Port)" : server_data.port ?></td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td><?= server_data.descriptionText ?></td>
            </tr>
            <tr>
                <td>Version</td>
                <td><?= server_data.version ?></td>
            </tr>
            <tr>
                <td>Spieler</td>
                <td><?= server_data.onlinePlayers ?> / <?= server_data.maxPlayers ?></td>
            </tr>
            <? } ?>
        </tbody>
    </table>
</div>